<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title> Usuarios</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

</body>
<h1>Please Sign Up:</h1>
<div class="container">
	<form method ="POST">
		{{ form.as_p }}
		{% csrf_token %}
		<input type="submit" class= "btn btn-primary" valur="Submit">
		
	</form>
		
</div>

</html>