<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title> Usuarios</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

</body>
<h1>Ver Usuarios</h1>
<div class="container">
{% if users %}
<ol>
	{% for person in users %}
	<li>User info</li>
	<ul>
		<li> Nombre: {{ person.nombre }}</li>
		<li> Apellido: {{  person.apellido  }} </li>
		<li> Email : {{ person.email  }}  </li>
	</ul>
	{% endfor %}
</ol>
{% endif %}

		
</div>

</html>