{% extends "clase3/clase3_base.html" %}

{% block body_block %}

<h1>Esta es la lista de escuelas</h1>

<ol>
	{% for school in escuelas %}
	<h2>
		<li>
			<a href="{{ school.id }}">{{ school.name }}</a>
		</li>
	</h2>
	{% endfor %}
</ol>
<p><a class="btn" href="{% url 'clase3_app:create' %}">Crear Una Escuela</a></p>

{% endblock %}