{% extends 'clase3/clase3_base.html' %}

{% block body_block %}

<h1> BOrrar {{ escuela.name }}?</h1>

<form method = "POST">
	{% csrf_token %}
	<input type="submit" class="btn btn-danger" value="Delete">
	<!-- primeoro ponemos el link para borrar una escuela pero pasamos el primary
	key pk para que sepa cual escuela es la que hay que borrar -->
	<a href="{% url 'clase3_app:detalle' pk=escuela.pk %}">Cancel</a>

</form>

{% endblock %}