{% extends "clase3/clase3_base.html" %}

{% block body_block %}

<h1>
{% if not form.instance.pk  %}
 Create Escuela
{% else %}
Actualiza Escuela
{% endif %}
</h1>

<div class="container">
	<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" name="btn btn-primary" value="Submit">
	</form>
</div>



{% endblock %}