{% extends "clase3/clase3_base.html" %}

{% block body_block %}

<div class="jumbotron">
	<h1> Los detalles de la escuela aqui </h1>
	<h2>Detalles de Escuela:</h2>
	<p>Nombre: {{ escuela_detalle.name }}</p>
	<p>Director: {{escuela_detalle.principal}}	</p>
	<p>Ubicacion: {{ escuela_detalle.location }}</p>

	<h3>Estudiantes en esta escuela: </h3>
    <!-- el escuela_detalle es la variable, el students viene del modelo y el fetch all -->
	{% for estudiando in escuela_detalle.students.all %}
	<p>{{ estudiando.name }}, quien tiene {{ estudiando.age}} anyos </p>
	{% endfor %}
</div>
<div class=container>
	<!-- primeoro ponemos el link para acutalizar una escuela pero pasamos el primary
		key pk para que sepa cual escuela es la que hay que actualizar -->
	<p><a class="btn btn-warning" href="{% url 'clase3_app:update' pk=escuela_detalle.pk %}">Actualizar campos escuela</a></p>
	<p><a class="bton btn-danger" href="{% url 'clase3_app:delete' pk=escuela_detalle.pk %}" >Borrar escuela</a></p>
</div>

{% endblock %}