{% extends "clase3/clase3_base.html" %}

{% block body_block %}

<div class = "jumbotron">
<h1>Hello world! Index Page Home</h1>
<h2>This is a variable inserted using classes : {{  injectme }}</h2>
</div>

{% endblock %}