<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Help Website</title>
	<link rel="stylesheet"  href="{% static 'css/mycss.css' %}"/>
</head>
<body>
<h1>Bienvenidos a la web de ayuda </h1>
<div class= "django2">
	{% if access_records %}

	<table>
		<thead>
		<th> site name </th>
		<th> date access </th>

		</thead>
	{% for acc in access_records %}
		<tr>
			<td>{{ acc.name  }}</td>
			<td>{{ acc.date }} </td>
		</tr>
	{% endfor %}
	</table>

	{% else %}
	<p> No hay nada que mostrar</p>
	{% endif %}

	<img class="my_image" src="{% static "images/comida-rapida-casera.jpg" %}" alt ="My image">
</div>

</body>
</html>