<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	<title></title>
</head>
<body>
	<div class = container>
	<nav class='navbar navbar-expand-lg fixed-top'>	
		<div class="container">
			<ul class="navbar-nav">
				<li class = "nav-item"><a class="navbar-brand" href="{% url 'index' %}"> DJANGO</a></li>
				<li class = "nav-item"><a class="nav-link" href="{% url 'admin:index' %}"> ADMIN </a></li>
				<li class = "nav-item"><a class="nav-link" href="{% url 'My_App:register' %}"> Register</a></li>
				{% if user.is_authenticated %}
				<li class = "nav-item"><a class="nav-link" href="{% url 'user_logout' %}">Logout</a></li>
				{% else %}
				<li class = "nav-item"><a class="nav-link" href="{% url 'My_App:user_login' %}">Login</a></li>
				{% endif %}
			</ul>		
		</div>
	</nav>
	</div>
	<div></div>

	<div class="container">

		{% block body_block %}
		
		{% endblock %}
	</div>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
</body>
</html>