<!DOCTYPE html>
<html>
<head>
	<title> This is a view per class</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class = "navbar navbar-default navbar-static-top"> 
	<ul class = "nav navbar-nav">
		<li class = "navbar-item"><a class="navbar-brand" href="{% url 'clase3:list' %}">Escuelas</a></li>
		<li class = "navbar-item" ><a class="navbar-link" href="{% url 'admin:index'  %}">Admin </a></li>
		<li><a href="#"></a></li>
	</ul>
</nav>

<div class = "container">
{% block body_block %}

{% endblock %}
</div>
</body>
</html>